body {
    font-family: Arial, Verdana;
    background: #000000;
    color: #FFFFFF;
    margin: 20px;
    margin-bottom: 0px;
}
h1{
    font-size: 42px;
    text-align: center;
    padding: 15px;

}
h2{
    font-size: 30px;
    color: #0D0D0D;
}
p{
    font: 24px;
    padding-top: 10px;
    padding-left: 10px;
}
img{
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style:dashed;
    border-width:10px;
    border-color:#FFFFFF;
}
div{
    min-height: 200px;
    padding: 20px;
    border-style: solid;
    border-color: #FFFFFF;
    border-width: 3px;
}
.introduction{
    border-radius: 15px;
    margin-top: 15px;
    line-height: 2;
}
.red{
    background-color: rgb(200, 0, 0);
    text-align:right;
    margin-left:50px;
    border-left-width:5px;
    border-top-width:2px;
}
.blue{
    background-color: #0000FF;
    text-align:left;
    margin-right:50px;
    border-right-width: 5px;
    border-top-width:2px;
    
}
.blue p{
    color:#C4C4C4;
}
.blue h2{
    color:#C4C4C4;
}
.yellow{
    background-color: #ffff00;
    text-align:right;
    margin-left:50px;
    border-left-width: 5px;
    border-top-width:2px;
    color:#707070;

}
.green{
    background-color: #008500;
    text-align:left;
    margin-right:50px;
    border-right-width: 5px;
    border-top-width:2px;
}
footer{
    border-width: 5px;
    border-color:#FFFFFF;

}
footer p{
    font-size: 20px;
    text-align:right;
    padding: 15px;
    padding-left:0px;
}